<h1>Cadastrar Usuário</h1>
<form action="/users/create" method="POST">
    <div class="form-control">
        <label for="name">Nome</label>
        <input type="text" name="name">
    </div>
    <div class="form-control">
        <label for="name">Ocupação</label>
        <input type="text" name="occupation">
    </div>
    <div class="form-control">
        <input type="checkbox" name="newsLetter">
        <label for="name">Enviar promoções</label>
    </div>
    <input type="submit" value="Cadastrar">
</form>