<h1>Cadastro de Livros</h1>
<a href="/books">Lista de livros</a>
<form action="books/add" method="POST">
    <div class='form-control'>
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título" />
    </div>
    <div class='form-control'>
        <label for="pageQty">Quantidade de páginas:</label>
        <input type="number" name="pageQty" placeholder="Digite a quantidade de páginas" />
    </div>
    <input type="submit" value="Cadastrar" />
</form>